@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --lightblack: #545454;
  --black: #000000;
  --blue: #3a7ba5;
  --gray: #d9d9d9;
  --blueprint: #3a7ba5;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--lightblack);
  background: var(--white);
  /* font-family: "Poppins", sans-serif; */
}

.bg_banner {
  background-image: linear-gradient(
    to right bottom,
    #edeef0,
    #dadadc,
    #c7c7c8,
    #b4b4b4,
    #a1a1a1
  );
}

@layer components {
  .input-field {
    @apply w-full rounded-md border border-gray-400 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400;
  }
}
