@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white:#ffffff;
  --lightblack :#545454;
  --black :#000000;
  --blue :#3A7BA5;
  --gray :#D9D9D9 ;
  --blueprint :#3A7BA5;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--lightblack);
  background: var(--white);
  font-family: "Poppins", sans-serif;
}

.bg_banner{
 background-image: linear-gradient(to right bottom, #edeef0, #dadadc, #c7c7c8, #b4b4b4, #a1a1a1);
}

@layer components {
  .input-field {
    @apply w-full px-4 py-2 border border-gray-400 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400;
  }
}